body {
	background: #F4E9CD;
	color: #031926;
}

div.top-container {
	background-color: #9DBEBB;
	padding: 30px;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
}

/* top navigation bar */
div.navbar {
	text-align: center;
}

div#nav-bar {
	overflow: hidden;
	background-color: #031926;
	margin-left: -8px;
    margin-right: -8px;
	position: sticky;
	top: 0;
}

div#nav-bar a {
	float: left;
	display: block;
	color: #468189;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

div#nav-bar a:hover {
	background-color: #031925;
	color: #9DBEBB;
}

div#nav-bar a.active {
	background-color: #031925;
	color: #9DBEBB;
}


/* side bar */
div#sidenav {
  height: 75%;
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #031926;
  overflow-x: hidden;
  padding-top: 20px;
}

div#sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #468189;
  display: block;
}

div#sidenav a:hover {
  color: #9DBEBB;
}

/* main body content */
div.content {
	padding: 16px;
}

/* footer */
div.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #031925;
	color: #468189;
	text-align: center;
}