div.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: black;
	text-align: center;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

.affix + .container-fluid {
	padding-top: 70px;
}

/* overrides bootstrap css */
div#sticky-header {
	background-color: grey;
	color: black;
	height: 200px;
}

div#override-navbar {
	background-color: #031926;
	color: #468189;
}